numpy>=1.19.0
opencv-python>=4.5.0
torch
torchvision
omegaconf>=2.1.0
pytest>=6.0.0
# git+https://github.com/doevent/Real-ESRGAN.git
rootutils
rich

hydra-core
hydra-colorlog
hydra-optuna-sweeper

natsort
tqdm